DATABASE_URL=""
JWT_SECRET=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_GOLD=
STRIPE_PRICE_PLATINUM=
REDIS_HOST=
REDIS_PORT=